html{
    font-size: 62.5%;
}
:root{
    --primary-color: white;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.header-contain{
    width: 98.7rem;
}
header{
    background-color: var(--primary-color);
    border: 1px solid transparent;
    border-radius: 1rem;
    margin: 3rem 0rem 0rem 0rem;
    width: 65rem;
    height: 7.5rem;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1);
}
nav, nav > ul{
    width: 100%;
    height: 100%;
}
nav > ul{
    list-style-type: none;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Share Tech Mono', monospace;
}
nav ul div{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
nav ul div::before{
    position: absolute;
    content: '';
    top: 0;
    bottom: -5px;
    left: 0;
    right: 0;
    z-index: 0;
    border-bottom: 2px solid black;
    transform: scaleX(0);
    transition: transform 0.2s ease-out;
    pointer-events: none;
}
nav ul div:hover{
    cursor: pointer;
}
nav ul div:hover::before{
    transform: scaleX(1);
}
main{
    margin: 3rem 5rem 0rem 5rem;
    /* height: 30rem; */
    width: 98.7rem;
}
section#landing{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.code_like_text_contain{
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#code_editor_containing_name, #code_editor_containing_desc{
    border: 1px solid transparent;
    border-radius: 1.2rem;
    background-color: var(--primary-color);
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
#code_editor_containing_name{
    position: relative;
    width: 100%;
    height: 75%;
}
#code_editor_containing_desc{
    position: absolute;
    height: 95%;
    width: 55rem;
    transform: translate(-5%, -3%);
    z-index: -1;
}
.code_editor_style{
    height: 10%;
}
.code_editor_content{
    height: 90%;
    background-color: var(--primary-color);
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.dummy_controls{
    height: 100%;
    width: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.circle{
    height: 35%;
    width: 12%;
    border: 2px solid black;
    border-radius: 50%;
}
#code_editor_containing_desc .circle{
    height: 29%;
    width: 12%;
    border: 2px solid black;
    border-radius: 50%;
}
#circle1{
    background-color: rgb(190, 26, 26);
}
#circle2{
    background-color: green;
}
#circle3{
    background-color: rgb(255, 255, 109);
}
.line{
    height: 30%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: flex-start;
}
#line1{
    padding-left: 2rem;
}
#line2{
    justify-content: flex-end;
    padding-right: 2rem;
}
.text{
    width: 30rem;
    font-size: 4rem;
    font-family: 'Share Tech Mono', monospace;
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
}
.brackets{
    display: flex;
    align-items: center;
    font-size: 8rem;
    height: 100%;
}

div#line2 .text{
    width: 25.3rem;
    height: 100%;
}
.forward-slash{
    font-size: 7rem;
    transform: translateY(-10%) rotateZ(284deg);
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.desc_content{
    height: 90%;
    background-color: var(--primary-color);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-size: 3.4rem;
    font-family: 'Share Tech Mono', monospace;
    position: relative;
}
.desc_content #icon1, .desc_content #icon2, .desc_content #icon3, .desc_content #icon4, .desc_content #icon5{
    position: absolute;
    height: fit-content;
    width: fit-content;
    opacity: 0.2;
}

.desc_content #icon1{
    top: 5%;
    left: 15%;
    transform: rotateZ(20deg);
    animation-name: moving_icon_1;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.desc_content #icon2{
    top: 85%;
    right: 8%;
    transform: rotateZ(-10deg);
    animation-name: moving_icon_2;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.desc_content #icon3{
    top: 20%;
    right: 15%;
    transform: rotateZ(-30deg);
    animation-name: moving_icon_3;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.desc_content #icon4{
    top: 70%;
    left: 10%;
    transform: rotateZ(-10deg);
    animation-name: moving_icon_4;
    animation-duration: 7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.desc_content #icon5{
    bottom: 8%;
    left: 38%;
    transform: rotateZ(20deg);
    animation-name: moving_icon_5;
    animation-duration: 6.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes moving_icon_1 {
    0%{
        top: 5%;
        left: 15%;
        transform: rotateZ(20deg);
    }
    20%{
        top: 7%;
        left: 17%;
        transform: rotateZ(10deg);
    }
    60%{
        top: 6%;
        left: 16%;
        transform: rotateZ(35deg);
    }
    100%{
        top: 5%;
        left: 15%;
        transform: rotateZ(20deg);
    }
}

@keyframes moving_icon_2 {
    0%{
        top: 85%;
        right: 8%;
        transform: rotateZ(-10deg);
    }
    20%{
        top: 83%;
        right: 10%;
        transform: rotateZ(-7deg);
    }
    60%{
        top: 86%;
        right: 5%;
        transform: rotateZ(5deg);
    }
    100%{
        top: 85%;
        right: 8%;
        transform: rotateZ(-10deg);
    }
}

@keyframes moving_icon_3 {
    0%{
        top: 20%;
        right: 15%;
        transform: rotateZ(-30deg);
    }
    20%{
        top: 21%;
        right: 13%;
        transform: rotateZ(-10deg);
    }
    60%{
        top: 19%;
        right: 16%;
        transform: rotateZ(1deg);
    }
    100%{
        top: 20%;
        right: 15%;
        transform: rotateZ(-30deg);
    }
}

@keyframes moving_icon_4 {
    0%{
        top: 70%;
        left: 10%;
        transform: rotateZ(-10deg);
    }
    20%{
        top: 68%;
        left: 12%;
        transform: rotateZ(-8deg);
    }
    60%{
        top: 71%;
        left: 9%;
        transform: rotateZ(-15deg);
    }
    100%{
        top: 70%;
        left: 10%;
        transform: rotateZ(-15deg);
    }
}

@keyframes moving_icon_5 {
    0%{
        bottom: 8%;
        left: 38%;
        transform: rotateZ(20deg);
    }
    20%{
        bottom: 10%;
        left: 37%;
        transform: rotateZ(18deg);
    }
    60%{
        bottom: 7%;
        left: 37.5%;
        transform: rotateZ(22deg);
    }
    100%{
        bottom: 8%;
        left: 38%;
        transform: rotateZ(20deg);
    }
}

.desc_text span{
    display: inline-block;
    opacity: 0;
    transform: translateY(10px);
}

#about, #skills, #projects, #contact{
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
.about-box, .skills-box, .projects-box, .contact-box{
    width: 85%;
    border: 1px solid transparent;
    border-radius: 1.2rem;
    background-color: var(--primary-color);
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1);
}
.section-name{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12rem;
    font-size: 4rem;
    font-family: 'Share Tech Mono', monospace;
}
.aboutdesc, .skill-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.about_text, .pic{
    width: 60%;
    height: 35rem;
}
.pic{
    width: 30%;
}
.pic img{
    width: 90%;
    height: auto;
    padding-top: 2rem;
}

.about_text .text{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding-top: 9rem;
    width: 80%;
}
.about_text .text em{
    display: contents;
}
.skill-cards{
    justify-content: space-around;
    margin-bottom: 4rem;
}
.skill-card{
    width: 25%;
    height: 30rem;
    border: 3px solid transparent;
    border-radius: 1.2rem;
    background-color: var(--primary-color);
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.skill-logo, .skill-title, .skill-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1.2rem;
}
.skill-logo, .skill-title{
    height: 20%;
}
.skill-logo{
    font-size: 2.5rem;
    color: rgb(119, 119, 119);
}
.skill-title{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}
.skill-desc{
    height: 40%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
}

.project-list{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.project{
    width: 80%;
    height: 20rem;
    margin-top: 3rem;
    border: 1px solid transparent;
    border-radius: 1.2rem;
    background-color: var(--primary-color);
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.project:last-child{
    margin-bottom: 5rem;
}
.project-title{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-family: 'Ubuntu', sans-serif;
}
.project-desc{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-family: 'Ubuntu', sans-serif;
}
.project a{
    margin-top: 4rem;
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 1.5rem;
    height: 15%;
    position: relative;
}
.project a::before{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid black;
    transform: scaleX(0);
    pointer-events: none;
    transition: transform 0.2s ease-out;
}
.project a:hover::before{
    transform: scaleX(1);
}
.project a{
    padding: 0.5rem 0;
    text-decoration: none;
    color: black;
}
.project a:hover{
    cursor: pointer;
}
a{
    color: black;
}
.contact-info{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    height: 5rem;
    padding-bottom: 5rem;
}
footer{
    margin: 15rem 0rem 2rem 0rem;
}
.text1, .text2, .social{
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
.text2{
    font-size: 1.2rem;
}
.text1 i{
    color: red;
}
.social{
    margin-bottom: 5rem;
}
.social a:nth-child(2){
    margin: 0 0.8rem;
}
.text1 a{
    text-decoration: none;
    font-weight: bold;
}



/*new*/

.skill-cards{
    height: 42rem;
    width: 100%;
    background-color: var(--primary-color);    
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.cards-contain{
    height: 85%;
    width: 90%;
    background-color: var(--primary-color);
    border: 1px transparent;
    /* border: 2px solid black; */
    box-shadow: 0.2rem 0px 5rem 0px rgba(0, 0, 0, 0.2);
    /* box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}
.cards{
    width: 100%;
    height: 70%;
    position: relative;
}
.card{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 20rem;
    background-color: white;
    /* box-shadow: 0.2rem 0px 3rem 0px rgba(0, 0, 0, 0.3); */
    box-shadow: 0.2rem 0px 5rem 0px rgba(0, 0, 0, 0.2);
    /* box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1); */
    border: 1px transparent;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.card-1-pos{
    left: -10%;
    transition: all 0.5s ease-out;
    z-index: 0;
}
.card-2-pos{
    left: 50%;
    transform: translate(-50%) scale(1.2);
    transition: all 0.5s ease-out;
    z-index: 2;
}
.card-3-pos{
    left: 80%;
    transition: all 0.5s ease-out;
    z-index: 0;
}

@keyframes card-1-3 {
    0%{
        opacity: 1;
        left: -10%;
    }
    50%{
        opacity: 0.3;
        left: 50%;
    }
    100%{
        opacity: 1;
        left: 80%;
    }
}

.card .content{
    height: 95%;
    width: 90%;
    background-color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.card .heading, .card .text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .heading{
    height: 30%;
    font-size: 2rem;
    font-family: 'Merriweather', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.card .text{
    height: 50%;
    font-family: 'Montserrat', sans-serif;
    padding: 0 0.5rem;
}

.control{
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    bottom: 40%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}
.btn{
    height: 4rem;
    width: 4rem;
    margin: 0 1rem;
    border: 1px transparent;
    background-color: transparent;
    color: transparent;
    transform: translateX(-20%);
    transition: color 0.3s ease-out, background-color 0.3s ease-out, transform 0.4s ease-out;
    border-radius: 50%;
    font-size: 2.5rem;
    cursor: pointer;
    pointer-events: all;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn i {
    width: 100%;
}
.btn:hover{
    background-color: rgb(216, 216, 216);
    transform: translateX(0);
    color: rgb(75, 75, 75);
}
.btn-hover{
    transform: translateX(0);
    color: rgb(75, 75, 75);
}