// @import 'mobiles';
.temporary-blocking{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.message{
    width: 80%;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Inter', sans-serif;
    background-color: rgba(255, 248, 190, 0.596);
    border: 0.2rem solid rgb(251, 203, 45);
    border-radius: 1rem;
    padding: 1.5rem;
    max-width: 50rem;
}
.message-text button{
    margin-top: 1rem;
    padding: 1.5rem 2rem;
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    background-color: rgb(35, 87, 0);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    color: white;
}
.message-icon{
    font-size: 4rem;
    color: rgb(251, 203, 45);
}
// @include media5 {
//     #header {
//       .push-top {
//         padding: 0;
//       }
//   }
// }