* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --max-heading-font-size: 2.5rem;
    --content-font-size: 1.2rem;
    --point-box-shadow: 0rem 0rem 0rem 0.3rem rgba(0, 0, 0, 0.12), 0rem 0rem 0rem 0.5rem rgba(0, 0, 0, 0.06);
    --point-shadow-hover: 0rem 0rem 0rem 0.35rem rgba(0, 0, 0, 0.12), 0rem 0rem 0rem 0.65rem rgba(0, 0, 0, 0.06);
    --point-border-line-bg: black;
    line-height: 1.5;
}

html:focus-within {
    scroll-behavior: smooth;
}

code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat Variable', sans-serif;
    font-weight: 850;
}

h1 {
    font-weight: 900;
    font-size: var(--max-heading-font-size);
}

h2 {
    font-size: calc(var(--max-heading-font-size) - calc(var(--max-heading-font-size)/8));
}

h3 {
    font-size: calc(var(--max-heading-font-size) - calc(2 * (var(--max-heading-font-size)/8)));
}

h4 {
    font-size: calc(var(--max-heading-font-size) - calc(3 * (var(--max-heading-font-size)/8)));
}

h5 {
    font-size: calc(var(--max-heading-font-size) - calc(4 * (var(--max-heading-font-size)/8)));
}

h5 {
    font-size: calc(var(--max-heading-font-size) - calc(5 * (var(--max-heading-font-size)/8)));
}

a {
    font-family: inherit;
    width: fit-content;
}

hr {
    background: rgba($color: #000000, $alpha: 0.15);
    outline: none;
    border: none;
    height: 0.25rem;
}

p, .listContainer .item, #socialList a {
    font-family: 'Rubik Variable', sans-serif;
    font-weight: 400;
    font-size: var(--content-font-size);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
    padding: 4rem 2rem 2rem 2rem;

    #bio, .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        max-width: 35rem;

        .section-heading {
            position: relative;
            display: flex;
            align-items: center;
            gap: 1rem;
            padding-bottom: 1rem;
    
            hr {
                height: 0.25rem;
                flex: 1 1 100%;
            }
        }

        @media screen and (max-width: 43em) {
            width: 90%;
        }
    }

    .section {
        #socialList {
            &, & span {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                font-family: 'Rubik Variable', sans-serif;
            }
        }
    }

    #bio {
        gap: 1rem;

        *:not(h1) {
            margin-bottom: 1rem;
        }
    }

    #projects, #experience {

        .listContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.7rem;

            .item {
                display: flex;
                flex-direction: column;
                gap: 0.1rem;
            }
        }

        .experience-data {
            display: flex;
            flex-flow: column;
            width: 100%;
            padding-top: 2.5rem;
        }
        
        .experience-data a {
            text-decoration: none;
            color: #262626;
        }
        
        .experience-data a:hover {
            text-decoration: underline;
        }
        
        .data-box {
            height: fit-content;
            width: 100%;
            display: flex;
            color: black;
        }
        
        .timeline {
            width: 10%;
            position: relative;
            display: flex;
            justify-content: center;
        }
        
        .draw {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        
        .data {
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            width: 100%;
            height: 100%;
            padding: 0 2.5rem 2rem 1rem;
            transform: translateY(-3%);
        }
        
        .role {
            font-size: var(--content-font-size);

            h4 {
                font-family: 'Rubik Variable', sans-serif;
            }

            & > h4, & > a {
                font-weight: 400;
            }
        }
        
        .time {
            font-size: calc(var(--content-font-size) - 0.3rem);
            font-style: italic;
            font-family: 'Rubik Variable', sans-serif;
        }
        
        .exp-desc {
            padding-top: 1.2rem;
            padding-right: 5%;
            font-size: calc(var(--content-font-size) - 0.1rem);
            font-family: 'Rubik Variable', sans-serif;
            font-weight: 400;
            line-height: 1.5em;
        }
        
        .timeline .line,
        .point {
            background-color: rgb(52, 52, 52);
        }
        
        .timeline .line {
            width: 0.35rem;
            height: 100%;
        }
        
        .point {
            position: absolute;
            top: 0;
            height: calc(var(--content-font-size) + 0.5rem);
            width: calc(var(--content-font-size) + 0.5rem);
            background-color: white;
            border: 0.35rem solid;
            border-color: rgb(52, 52, 52);
            border-radius: 50%;
            box-shadow: var(--point-box-shadow);
        }
        
        .point:hover {
            background-color: var(--point-border-line-bg);
            animation: point_shadow 0.7s linear infinite alternate both;
        }
        
        @keyframes point_shadow {
            0% {
                box-shadow: var(--point-box-shadow);
            }
        
            100% {
                box-shadow: var(--point-shadow-hover);
            }
        
        }
        
        .point a {
            display: inline-block;
            height: 100%;
            width: 100%;
            transform: scale(1.25);
        }
    }
}