* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

html {
    --max-heading-font-size: 2.5rem;
    --content-font-size: 1.2rem;
    line-height: 1.5;

    /** 
    * ! for firefox 
    */
    scrollbar-width: thin;
    scrollbar-color: rgb(170, 170, 170) rgb(94, 94, 94);
    
    @media screen and (max-width: 45em) {
        --max-heading-font-size: 2.2rem;
        --content-font-size: 1.05rem;
    }
}

body {
    --point-box-shadow: 0rem 0rem 0rem 0.3rem rgba(0, 0, 0, 0.12), 0rem 0rem 0rem 0.5rem rgba(0, 0, 0, 0.06);
    --point-shadow-hover: 0rem 0rem 0rem 0.4rem rgba(0, 0, 0, 0.12), 0rem 0rem 0rem 0.75rem rgba(0, 0, 0, 0.06);
    --point-border-line-bg: rgb(28, 28, 28);

    --primary-text-color: rgb(28, 28, 28);
    --primary-background-color: rgb(246, 246, 246);
    --tertiary-color: rgba(0, 0, 0, 0.15);
    --heading-text-color: rgb(20, 20, 20);

    @media (prefers-color-scheme: dark) {
        --point-box-shadow: 0rem 0rem 0rem 0.3rem rgba(255, 255, 255, 0.15), 0rem 0rem 0rem 0.5rem rgba(255, 255, 255, 0.10);
        --point-shadow-hover: 0rem 0rem 0rem 0.4rem rgba(255, 255, 255, 0.15), 0rem 0rem 0rem 0.75rem rgba(255, 255, 255, 0.10);
        --point-border-line-bg: rgb(190, 190, 190);
        
        --primary-text-color: rgb(190, 190, 190);
        --primary-background-color: rgb(28, 28, 28);
        --tertiary-color: rgba(255, 255, 255, 0.15);
        --heading-text-color: rgb(198, 198, 198);
    }

    background-color: var(--primary-background-color);
    min-height: 100vh;
    text-rendering: optimizeSpeed;

    &::-webkit-scrollbar {
        width: 0.5rem;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: var(--tertiary-color);
        border-radius: 0.7rem;
    }
    
    &::-webkit-scrollbar-track {
        background-color: var(--primary-background-color);
        border-radius: 0.7rem;
    }

}

html:focus-within {
    scroll-behavior: smooth;
}

::selection {
    color: var(--primary-background-color);
    background-color: var(--primary-text-color);
}

code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-text-color);
    font-family: 'Montserrat Variable', sans-serif;
    font-weight: 850;
}

h1 {
    font-weight: 900;
    font-size: var(--max-heading-font-size);
}

h2 {
    font-size: calc(var(--max-heading-font-size) - calc(var(--max-heading-font-size)/8));
}

h3 {
    font-size: calc(var(--max-heading-font-size) - calc(2 * (var(--max-heading-font-size)/8)));
}

h4 {
    font-size: calc(var(--max-heading-font-size) - calc(3 * (var(--max-heading-font-size)/8)));
}

h5 {
    font-size: calc(var(--max-heading-font-size) - calc(4 * (var(--max-heading-font-size)/8)));
}

h5 {
    font-size: calc(var(--max-heading-font-size) - calc(5 * (var(--max-heading-font-size)/8)));
}

a {
    font-family: inherit;
    width: fit-content;
    color: var(--primary-text-color);
}

li {
    list-style-position: inside;
    list-style-type: disc;

    @media screen and (max-width: 45em) {
        list-style-type: none;
    }
}

hr {
    background: var(--tertiary-color);
    outline: none;
    border: none;
    height: 0.25rem;
}

p,
.listContainer .item,
#socialList a {
    color: var(--primary-text-color);
    font-family: 'Rubik Variable', sans-serif;
    font-weight: 400;
    font-size: var(--content-font-size);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
    padding: 4rem 1.5rem 2rem 1.5rem;

    #bio,
    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        max-width: 35rem;

        .section-heading {
            position: relative;
            display: flex;
            align-items: center;
            gap: 1rem;
            padding-bottom: 0.2rem;

            hr {
                height: 0.25rem;
                flex: 1 1 100%;
            }

            .headingAnchorLink {
                font-size: var(--content-font-size);
                align-self: flex-start;
            }
        }

        @media screen and (max-width: 43em) {
            width: 90%;
        }
    }

    .section {
        gap: 1.3rem;

        #socialList {
            &,
            & span {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                gap: 0.5rem;
                font-family: 'Rubik Variable', sans-serif;
            }
        }

        &#uses .category {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }

    #bio {
        gap: 1rem;

        *:not(h1) {
            margin-bottom: 1rem;
        }
    }

    #projects,
    #experience {

        .listContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
        }

        .experience-data {
            display: flex;
            flex-flow: column;
            width: 100%;
            padding-top: 2.5rem;

            @media screen and (max-width: 45em) {
                padding-top: 2rem;   
            }

            a {
                text-decoration: none;
                color: var(--primary-text-color);

                &:hover {
                    text-decoration: underline;
                }
            }

            .data-box {
                height: fit-content;
                width: 100%;
                display: flex;
                color: var(--primary-text-color);

                .data {
                    display: flex;
                    flex-flow: column;
                    justify-content: flex-start;
                    width: 100%;
                    height: 100%;
                    padding: 0 2.5rem 2rem 1rem;
                    transform: translateY(-2%);

                    .role {
                        font-size: var(--content-font-size);
            
                        h4 {
                            font-family: 'Rubik Variable', sans-serif;
                        }
            
                        &>h4,
                        &>a {
                            font-weight: 400;
                        }
                    }
            
                    .time {
                        font-size: calc(var(--content-font-size) - 0.3rem);
                        font-style: italic;
                        font-family: 'Rubik Variable', sans-serif;
                    }
            
                    .exp-desc {
                        padding-top: 1.2rem;
                        padding-right: 5%;
                        font-size: calc(var(--content-font-size) - 0.1rem);
                        font-family: 'Rubik Variable', sans-serif;
                        font-weight: 400;
                        line-height: 1.5em;
                    }

                    .showcase-container {
                        display: flex;
                        gap: 1rem;
                        flex-flow: row wrap;
                        padding: 1rem 0 0 0;

                        @media screen and (max-width: 45em) {
                            flex-flow: column;
                        }
                        
                        .showcase {
                            display: flex;
                            flex-flow: column;
                            width: 45%;

                            @media screen and (max-width: 45em) {
                                width: 90%;
                            }
    
                            .link-preview {
                                max-width: 16rem;
                                overflow: hidden;
                                border-radius: 0.5rem;
                                background: var(--tertiary-color);
    
                                .link-text {
                                    padding: 0.1rem 1rem 0.5rem 1rem;
                                    font-family: 'Rubik Variable', sans-serif;
                                    
                                    @media screen and (max-width: 45em) {
                                        padding: 0.3rem 1rem 0.8rem 1rem;
                                    }

                                    a {
                                        font-size: calc(var(--content-font-size) - 0.4rem);
                                        color: var(--primary-text-color);

                                        @media screen and (max-width: 45em) {
                                            font-size: calc(var(--content-font-size) - 0.3rem);
                                        }
                                    }
                                }
    
                                img {
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }
                    }


                    @media screen and (max-width: 45em) {
                        padding-right: 0;
                        padding-left: 1.2rem;
                    }
                }
            }
            
        }


        .timeline {
            width: 10%;
            position: relative;
            display: flex;
            justify-content: center;

            .draw {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
    
            .line,
            .point {
                background-color: var(--point-border-line-bg);
            }

            .line {
                width: 0.35rem;
                height: 100%;
            }

            .point {
                position: absolute;
                top: 0;
                height: calc(var(--content-font-size) + 0.5rem);
                width: calc(var(--content-font-size) + 0.5rem);
                background-color: var(--primary-background-color);
                border: 0.35rem solid;
                border-color: var(--point-border-line-bg);
                border-radius: 50%;
                box-shadow: var(--point-box-shadow);

                a {
                    display: inline-block;
                    height: 100%;
                    width: 100%;
                    transform: scale(1.25);
                }

                &:hover {
                    background-color: var(--point-border-line-bg);
                    animation: point_shadow 0.7s linear infinite alternate both;
                }

                @media screen and (max-width: 45em) {
                    height: calc(var(--content-font-size) + 0.5rem);
                    width: calc(var(--content-font-size) + 0.5rem);
                }
            }
        }

        @keyframes point_shadow {
            0% {
                box-shadow: var(--point-box-shadow);
            }

            100% {
                box-shadow: var(--point-shadow-hover);
            }

        }

    }
}

footer {
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        text-align: center;
    }
}