html {
    -webkit-text-size-adjust: none;
    scroll-behavior: smooth;
}

:root {
    font-size: 62.5%;
    transition: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;

    --primary-color: white;
    --text-color: black;
    --boxshadow-major: 5px 5px 50px rgba(0, 0, 0, 0.1);
    --only-dark-border: transparent;
    --boxshadow-inset-cards: inset 0.2rem 0px 2rem 0px rgba(0, 0, 0, 0.1);
    --boxshadow-card: 0.2rem 0px 2rem 0px rgba(0, 0, 0, 0.1);
    --skill-logo-color: rgb(119, 119, 119);
    --slide-btn-bg: rgb(216, 216, 216);
    --slide-btn-color: rgb(75, 75, 75);
    --point-border-line-bg: #353535;
    --dev-blog-projects-border-bottom: #e6e6e6;
    --dev-projects-desc-color: #4e4e4e;
    --point-box-shadow: 0rem 0rem 0rem 0.5rem rgba(0, 0, 0, 0.12), 0rem 0rem 0rem 1rem rgba(0, 0, 0, 0.06);
    --point-shadow-hover: 0rem 0rem 0rem 0.65rem rgba(0, 0, 0, 0.12), 0rem 0rem 0rem 1.15rem rgba(0, 0, 0, 0.06);
    --btn-hover: #e7e7e7;

    background-color: var(--primary-color);
}

.dark {
    --primary-color: rgb(23, 23, 23);
    --text-color: #c6c6c6;
    --boxshadow-major: none;
    --only-dark-border: #404040;
    --boxshadow-inset-cards: inset 0.1rem 0px 2rem 0px rgba(144, 144, 144, 0.068);
    --boxshadow-card: none;
    --skill-logo-color: rgb(119, 119, 119);
    --slide-btn-bg: rgb(216, 216, 216);
    --slide-btn-color: rgb(75, 75, 75);
    --point-border-line-bg: #c9c9c9;
    --dev-blog-projects-border-bottom: #404040;
    --dev-projects-desc-color: #bebebe;
    --point-shadow-hover: 0rem 0rem 0rem 0.65rem rgba(255, 255, 255, 0.15), 0rem 0rem 0rem 1.15rem rgba(255, 255, 255, 0.10);
    --point-box-shadow: 0rem 0rem 0rem 0.5rem rgba(255, 255, 255, 0.15), 0rem 0rem 0rem 1rem rgba(255, 255, 255, 0.10);
    --btn-hover: rgba(231, 231, 231, 0.1);
}

#skip-to-main {
    position: absolute;
    font-size: 2rem;
    background-color: var(--text-color);
    color: var(--primary-color);
    padding: 0.5rem 1rem;
    transform: translateY(-10rem);
    transition: transform 0.4s ease-out;
}

#skip-to-main:focus {
    transform: translateY(0);
}

.back-to-top {
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    background-color: var(--text-color);
    color: var(--primary-color);
    border: none;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    z-index: 4;
}

.show-back-to-top:hover {
    cursor: pointer;
}

.show-back-to-top {
    opacity: 1;
    visibility: visible;
}

.header-contain {
    width: 98.7rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0rem 0rem 0rem;
    height: 7.5rem;
}

header button {
    background-color: transparent;
    color: var(--text-color);
    padding: 0 1.5rem;
    border: none;
    font-size: 3.1rem;
}

header button:hover {
    cursor: pointer;
}

.day-night-container {
    position: relative;
}

.sun,
.moon {
    font-size: 2.9rem;
    width: fit-content;
    height: fit-content;
}

.moon {
    position: absolute;
    inset: 0;
}

.moon-logo {
    opacity: 0;
    transform: translateY(20%) rotateZ(50deg);
    transition: all 0.2s ease-out;
}

.sun-logo {
    opacity: 1;
    transform: translateY(0) rotateZ(0deg);
    transition: all 0.2s ease-out;
}

.animate-sun {
    opacity: 0;
    transform: translateY(20%) rotateZ(100deg);
    color: var(--text-color);
}

.animate-moon {
    opacity: 1;
    transform: translateY(0%) rotateZ(0deg);
    color: var(--text-color);
}

#navbar {
    background-color: var(--primary-color);
    border: 0.3rem solid;
    border-color: var(--only-dark-border);
    border-radius: 1rem;
    width: 65rem;
    box-shadow: var(--boxshadow-major);
}

nav,
nav>ul {
    width: 100%;
    height: 100%;
}

nav>ul {
    list-style-type: none;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Share Tech Mono', monospace;
}

nav ul li {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
}

nav ul li::before {
    --text-color: var(--text-color);
    position: absolute;
    content: '';
    top: 0;
    bottom: -5px;
    left: 0;
    right: 0;
    z-index: 0;
    border-bottom: 2px solid;
    border-color: var(--text-color);
    transform: scaleX(0);
    transition: transform 0.2s ease-out;
    pointer-events: none;
}

nav ul li:hover {
    cursor: pointer;
}

nav ul li:hover::before {
    transform: scaleX(1);
}

main {
    margin: 3rem 5rem 0rem 5rem;
    width: 100%;
    max-width: 95rem;
}

section#landing {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.code_like_text_contain {
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#code_editor_containing_name,
#code_editor_containing_desc {
    border: 0.3rem solid;
    border-color: var(--only-dark-border);
    border-radius: 1.2rem;
    background-color: var(--primary-color);
    box-shadow: var(--boxshadow-major);
    overflow: hidden;
}

#code_editor_containing_name {
    position: relative;
    width: 100%;
    height: 75%;
}

#code_editor_containing_desc {
    position: absolute;
    height: 95%;
    width: calc(100% + 50px);
    transform: translate(-7%, -3%);
    z-index: -1;
}

.code_editor_style {
    height: 10%;
}

.code_editor_content {
    height: 90%;
    background-color: var(--primary-color);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .greet {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 30rem;

        h1 {
            color: var(--text-color);
            font-size: 4.3rem;
            font-weight: 400;
            font-family: 'Share Tech Mono', monospace;
        }

        #first-h1 {
            text-align: left;
        }

        #second-h1 {
            text-align: right;
        }
    }
}

.dummy_controls {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.circle {
    height: 1.2rem;
    width: 1.2rem;
    border: 2px solid black;
    border-radius: 50%;
    margin-left: 1.2rem;
}

#circle1 {
    background-color: rgb(190, 26, 26);
}

#circle2 {
    background-color: green;
}

#circle3 {
    background-color: rgb(255, 255, 109);
}

.line {
    height: 30%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: flex-start;
}

.text {
    transition: none;
    font-size: 5rem;
    font-family: 'Share Tech Mono', monospace;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.desc_content {
    height: 90%;
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-size: 3.4rem;
    font-family: 'Share Tech Mono', monospace;
    position: relative;
}

.desc_content #icon1,
.desc_content #icon2,
.desc_content #icon3,
.desc_content #icon4,
.desc_content #icon5 {
    position: absolute;
    height: fit-content;
    width: fit-content;
    opacity: 0.2;
}

.desc_content #icon1 {
    top: 15%;
    left: 15%;
    transform: rotateZ(20deg);
}

.desc_content #icon2 {
    top: 80%;
    right: 20%;
    transform: rotateZ(-10deg);
}

.desc_content #icon3 {
    top: 30%;
    right: 15%;
    transform: rotateZ(-30deg);
}

.desc_content #icon4 {
    top: 0%;
    left: 50%;
    transform: rotateZ(-10deg);
}

.desc_content #icon5 {
    bottom: 12%;
    left: 25%;
    transform: rotateZ(20deg);
}

.desc_text {
    color: var(--text-color);
    transform: scale(2);
    opacity: 0.2;
}

.desc_text span {
    display: inline-block;
    opacity: 0;
    transform: translateY(10px);
}

#about,
#skills,
#projects,
#contact,
#experience {
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    padding-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-box,
.skills-box,
.projects-box,
.contact-box,
.experience-box {
    width: 85%;
    border: 0.3rem solid;
    border-color: var(--only-dark-border);
    border-radius: 1.2rem;
    background-color: var(--primary-color);
    box-shadow: var(--boxshadow-major);
}

.skills-box {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.section-name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12rem;
    font-size: 4rem;
    color: var(--text-color);
    font-family: 'Share Tech Mono', monospace;
}

.aboutdesc,
.skill-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.aboutdesc {
    padding: 0 0 7rem 0;
}

.about_text {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 7rem 0 3rem;
}

.about_text,
.pic {
    width: 60%;
}

.pic {
    width: 30%;
}

.pic img {
    width: 90%;
    height: auto;
}

.about_text .text {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.about_text .text em {
    display: contents;
}

.recent-work button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 1rem 0;
    background-color: transparent;
    border: none;
    border-radius: 0.5rem;
    transition: background 0.3s ease-out, padding 0.3s ease-out;
}

.recent-work {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    width: fit-content;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 1rem 0;
    background-color: transparent;
    border: none;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: background 0.3s ease-out, padding 0.3s ease-out;
}

.recent-work button i {
    padding-left: 1rem;
    transition: all 0.3s ease-out;
}

.recent-work i {
    padding-left: 1rem;
    transition: all 0.3s ease-out;
}

.recent-work button:hover {
    padding: 1rem 1.8rem;
    background-color: var(--btn-hover);
    cursor: pointer;
}

.recent-work:hover {
    padding: 1rem 1.8rem;
    background-color: var(--btn-hover);
    cursor: pointer;
}

.recent-work button:hover i {
    padding-left: 1.5rem;
}

.recent-work:hover i {
    padding-left: 1.5rem;
}

.skill-cards {
    justify-content: space-around;
    margin-bottom: 4rem;
}

.skill-card {
    width: 25%;
    height: 30rem;
    border: 3px solid transparent;
    border-radius: 1.2rem;
    background-color: var(--primary-color);
    box-shadow: var(--boxshadow-major);
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.skill-logo,
.skill-title,
.skill-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1.2rem;
}

.skill-logo,
.skill-title {
    height: 20%;
}

.skill-logo {
    font-size: 2.5rem;
    color: var(--skill-logo-color);
}

.skill-title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.skill-desc {
    height: 40%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
}

.project-list {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.block {
    width: 100%;
    padding: 3rem 1rem;
    border: 1px solid transparent;
    transition: border 0.2s ease-out;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.block:last-child {
    margin-bottom: 2rem;
}

.block:first-child {
    margin-top: 2rem;
}

.project-title {
    width: 25%;
    font-size: 1.6rem;
    font-family: 'Ubuntu', sans-serif;
}

.project-desc {
    width: 40%;
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
}

.block:hover {
    border-top: 5px solid transparent;
    border-left: 5px solid;
    border-bottom: 5px solid transparent;
    border-left-color: var(--text-color);
}

.block a {
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    width: 18%;
    position: relative;
}

.block a::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid;
    border-color: var(--text-color);
    transform: scaleX(0);
    pointer-events: none;
    transition: transform 0.2s ease-out;
}

.block a:hover::before {
    transform: scaleX(1);
}

.block a {
    padding: 0.5rem 0;
    text-decoration: none;
    color: var(--text-color);
}

.block a:hover {
    cursor: pointer;
}

a {
    color: black;
}

.contact-info {
    display: block;
    font-size: 2rem;
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    padding: 0 4rem 5rem 4rem;
    text-align: center;
}

.contact-info a {
    color: var(--text-color);
}

.contact-info div:not(:last-child) {
    padding-bottom: 1rem;
}

footer {
    margin: 15rem 0rem 5rem 0rem;
}

.text1,
.text2,
.social {
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: var(--text-color);
}

.text2 {
    font-size: 1.2rem;
}

.text1 i {
    color: red;
}

.social {
    margin-bottom: 5rem;
}

.social a {
    margin: 0 0.8rem;
}

.text1 a {
    text-decoration: none;
    font-weight: bold;
}

.social a,
.text1 a,
.text2 a {
    color: var(--text-color);
}

.skill-cards {
    height: 42rem;
    width: 85%;
    background-color: var(--primary-color);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.cards-contain {
    height: 85%;
    width: 90%;
    background-color: var(--primary-color);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}

.cards-contain-inset-shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    box-shadow: var(--boxshadow-inset-cards);
    border: 0.3rem solid;
    border-color: var(--only-dark-border);
    border-radius: 1rem;
    pointer-events: none;
}

.cards {
    width: 100%;
    height: 70%;
    position: relative;
}

.card {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 20rem;
    background-color: var(--primary-color);
    box-shadow: var(--boxshadow-card);
    border: 0.3rem solid;
    border-color: var(--only-dark-border);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.card-1-pos {
    left: -10%;
    transition: all 0.5s ease-out;
    z-index: 0;
}

.card-2-pos {
    left: 50%;
    transform: translate(-50%) scale(1.2);
    transition: all 0.5s ease-out;
    z-index: 2;
}

.card-3-pos {
    left: 80%;
    transition: all 0.5s ease-out;
    z-index: 0;
}

@keyframes card-1-3 {
    0% {
        opacity: 1;
        left: -10%;
    }

    50% {
        opacity: 0.3;
        left: 50%;
    }

    100% {
        opacity: 1;
        left: 80%;
    }
}

.card .content {
    height: 95%;
    width: 90%;
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.card .heading,
.card .text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .heading {
    height: 30%;
    font-size: 2rem;
    font-family: 'Merriweather', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.card .text {
    height: 50%;
    font-family: 'Montserrat', sans-serif;
    padding: 0 0.5rem;
}

.control {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    bottom: 40%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

.btn-1 {
    transform: translateX(20%);
}

.btn-2 {
    transform: translateX(-20%);
}

.btn {
    height: 4rem;
    width: 4rem;
    margin: 0 1rem;
    border: 1px transparent;
    background-color: transparent;
    color: transparent;
    transition: color 0.3s ease-out, background-color 0.3s ease-out, transform 0.3s ease-out;
    border-radius: 50%;
    font-size: 2.5rem;
    cursor: pointer;
    pointer-events: all;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-hover {
    transform: translateX(0%);
    color: var(--slide-btn-color);
}

.btn:hover {
    background-color: var(--slide-btn-bg);
    transform: translateX(0%);
    color: var(--slide-btn-color);
}

.btn i {
    width: 100%;
}

.experience-data {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding-top: 5rem;
}

.experience-data a {
    text-decoration: none;
    color: var(--text-color);
}

.experience-data a:hover {
    text-decoration: underline;
}

.data-box {
    height: 20rem;
    width: 100%;
    display: flex;
    color: var(--text-color);
}

.timeline {
    width: 25%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.draw {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.data {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    width: 75%;
    height: 100%;
    padding: 0 2.1rem 0 0;
}

.role {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    transform: translateY(-1rem);
}

.time {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.exp-desc {
    padding-top: 1rem;
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
}

.timeline .line,
.point {
    background-color: var(--point-border-line-bg);
}

.timeline .line {
    width: 0.5rem;
    height: 100%;
}

.point {
    position: absolute;
    top: 0;
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--primary-color);
    border: 0.5rem solid;
    border-color: var(--point-border-line-bg);
    border-radius: 50%;
    box-shadow: var(--point-box-shadow);
}

.point:hover {
    background-color: var(--point-border-line-bg);
    animation: point_shadow 0.7s linear infinite alternate both;
}

@keyframes point_shadow {
    0% {
        box-shadow: var(--point-box-shadow);
    }

    100% {
        box-shadow: var(--point-shadow-hover);
    }

}

.point a {
    display: inline-block;
    height: 100%;
    width: 100%;
    transform: scale(1.25);
}

.project-list {
    color: var(--text-color);
}

.dev-projects-title,
.blogs-title {
    width: 80%;
    height: 8rem;
    margin-top: 3rem;
    background-color: var(--primary-color);
    border: 0.3rem solid;
    border-color: var(--only-dark-border);
    border-radius: 10px;
    box-shadow: var(--boxshadow-major);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding-left: 2rem;
}

.dev-projects-title:hover,
.blogs-title:hover {
    cursor: pointer;
}

.dev-projects-title .text,
.blogs-title .text {
    font-size: 2.5rem;
}

.drop {
    padding-right: 2.5rem;
    font-size: 2rem;
    transform: translateY(-10%);
    transition: transform 0.1s ease-out;
}

.dev-projects-title:hover .drop,
.blogs-title:hover .drop {
    transform: translateY(0);
}

.dev-projects,
.blog-projects {
    height: 100%;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    width: 80%;
    border: 1px solid transparent;
    box-shadow: var(--boxshadow-major);
    border-top: none;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    overflow: hidden;
}

.blog-projects {
    margin-bottom: 5rem;
}

.projects-reveal {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.none {
    display: none;
}

#hamburger-menu {
    display: none;
}

@media screen and (max-width: 62em) {
    .header-contain {
        width: 85%;
    }

    #header {
        display: flex;
    }

    #hamburger-menu {
        display: block;
        z-index: 6;
    }

    #navbar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 80vw;
        max-width: 45rem;
        z-index: 5;
    }

    #dark-mode-toggle {
        margin-left: auto;
    }

    nav>ul {
        justify-content: center;
        flex-direction: column;
    }

    nav>ul li {
        height: 15%;
    }

    nav>ul li::before {
        bottom: 20px;
    }

    main {
        margin-top: 1rem;
        width: 100%;
    }

    section#landing {
        flex-flow: column;
    }

    .code_like_text_contain {
        width: 85%;
    }

    .brackets {
        font-size: 3rem;
    }

    .text {
        font-size: 3rem;
    }

    .code_editor_content {
        .greet {
            max-width: 35rem;
        }
    }

    .code_editor_content {
        .greet {
            h1 {
                font-size: 5rem;
            }
        }
    }

    #code_editor_containing_desc {
        width: 100%;
        transform: none;
    }

    .section-name {
        height: 10rem;
        font-size: 3rem;
    }

    .aboutdesc {
        display: flex;
        flex-flow: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    .about_text,
    .pic {
        height: auto;
    }

    .pic {
        width: 40%;
    }

    .pic img {
        width: 100%;
        height: auto;
    }

    .about_text {
        padding: 4rem 1.5rem;
    }

    .about_text .text {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.7rem;
        width: 100%;
        text-align: center;
    }

    .recent-work-cta {
        display: flex;
        justify-content: center;
    }

    .recent-work {
        display: flex;
        justify-content: center;
    }

    .dev-projects-title .text,
    .blogs-title .text {
        font-size: 2rem;
    }

    .block {
        flex-flow: column;
        border: 1px solid transparent;
        border-bottom: 2px solid;
        border-bottom-color: var(--dev-blog-projects-border-bottom);
        padding: 1rem 1.5rem;
        margin-bottom: 2rem;
    }

    .block:hover {
        border: 1px solid transparent;
        border-bottom: 2px solid;
        border-bottom-color: var(--dev-blog-projects-border-bottom);
    }

    .block:last-child {
        border: 1px solid transparent;
    }

    .blog-projects .block a {
        margin: 0;
    }

    .blog-projects .block {
        margin-bottom: 0;
        padding-bottom: 2rem;
    }

    .block a {
        width: fit-content;
        margin-top: 1rem;
    }

    .project-title {
        font-size: 1.7rem;
    }

    .project-desc {
        color: var(--dev-projects-desc-color);
    }

    .project-title,
    .project-desc {
        width: 100%;
        padding: 1rem 2rem;
        text-align: center;
    }

    .blog-projects .project-title {
        font-size: 2rem;
        padding: 2rem 1rem;
    }

    .contact-info {
        display: block;
        font-size: 1.7rem;
        height: auto;
        padding: 0 4rem;
        padding-bottom: 5rem;
        text-align: center;
    }

    .skill-cards {
        height: fit-content;
        margin-bottom: 3rem;
        display: block;
    }

    .cards-contain {
        height: 100%;
        width: 100%;
        overflow: visible;
    }

    .cards {
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .card {
        position: relative;
        height: 25rem;
        margin: 2rem 0;
    }

    #card-1,
    #card-2,
    #card-3 {
        left: 0;
        transform: none;
    }

    .control {
        display: none;
    }

    .cards-contain-inset-shadow {
        display: none;
    }

    .desc_content {
        font-size: 3.5rem;
    }

    .about_text {
        width: 55%;
    }

    .pic {
        width: 20%;
    }

    .cards {
        flex-flow: row;
        justify-content: space-around;
    }
}

@media screen and (max-width: 54em) {

    .cards {
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .contact-info {
        font-size: 1.5rem;
    }

    .code_editor_content {
        .greet {
            max-width: 30rem;

            h1 {
                font-size: 3.5em;
            }
        }
    }
}

@media screen and (max-width: 40em) {
    .back-to-top {
        bottom: 2rem;
        right: 2rem;
        height: 3.5rem;
        width: 3.5rem;
    }

    .text {
        font-size: 3.5em;
    }

    .code_editor_content {
        .greet {
            h1 {
                font-size: 3.5em;
            }
        }
    }

    .pic {
        width: 40%;
    }

    .about_text {
        width: 90%;
        padding: 4rem 1.5rem;
    }

    .desc_content {
        font-size: 2.2em;
    }

    .data-box {
        height: 25em;
    }

    .role {
        font-size: 2.3em;
        transform: translateY(-0.5rem);
    }

    .time {
        font-size: 1.2em;
    }

    .exp-desc {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 25em) {
    .code_editor_content {
        .greet {
            h1 {
                font-size: 3em;
            }
        }
    }
}

.none {
    display: none;
}