<section id="about">
    <div class="about-box">
        <h2 class="section-name">About</h2>
        <div class="aboutdesc">
            <div class="about_text">
                <p class="text">A full-stack developer who tries to keep a good relationship with
                    bugs & a content creator!</p>
                <div class="recent-work-cta">
                    <a class="recent-work" rel="noreferrer" target="_blank"
                        href="https://murtuzaalisurti.github.io/links/">My recent work<i
                                class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="pic">
                <img loading="lazy" src="./assets/profilePicCompressed.png" alt="potrait">
            </div>
        </div>
    </div>
</section>