<section id="contact">
    <div class="contact-box">
        <h2 class="section-name">Contact</h2>
        <div class="contact-info">
            <div>
                Don't hesitate. Feel free to reach out to&nbsp;<a rel="noreferrer"
                    href="https://forms.gle/TBEmRRSfvGjxZTte7">me</a>!
            </div>
            <div>
                Or else, check out my&nbsp;<a aria-label="curriculum vitae"
                    href="https://drive.google.com/file/d/1h79VhrbQxH9uHrCcs59IvpER7d-4iAfK/view?usp=sharing">CV</a>.
            </div>
        </div>
    </div>
</section>