<section id="experience">
    <div class="experience-box">
        <h2 class="section-name">Experience</h2>
        <div class="experience-data">
            <div class="data-box">
                <div class="timeline">
                    <div class="line"></div>
                    <div class="point"></div>
                </div>
                <div class="data">
                    <div class="role"><a rel="noreferrer" target="_blank"
                            href="https://aviyel.com/@murtuzaalisurti">Content Creator - Aviyel</a></div>
                    <div class="time">Oct, 2021 - Present</div>
                    <div class="exp-desc">Technical Content Creator</div>
                </div>
            </div>
            <div class="data-box">
                <div class="timeline">
                    <div class="line"></div>
                    <div class="point"></div>
                </div>
                <div class="data">
                    <div class="role"><a rel="noreferrer" target="_blank"
                            href="https://css-tricks.com/author/murtuzaalisurti/">Author - CSS Tricks</a></div>
                    <div class="time">July, 2021 - Present</div>
                    <div class="exp-desc">Wrote articles related to Web Design and Development!</div>
                </div>
            </div>
            <div class="data-box">
                <div class="timeline">
                    <div class="line"></div>
                    <div class="point"></div>
                </div>
                <div class="data">
                    <div class="role">Technical Writer - Draft.dev</div>
                    <div class="time">Sept, 2021 - Present</div>
                    <div class="exp-desc">Freelance Content Writer</div>
                </div>
            </div>
        </div>
    </div>
</section>