---
import ExperienceBlock from '../ExperienceBlock.astro';
---
<section id="experience">
    <div class="experience-box">
        <h2 class="section-name">Experience</h2>
        <div class="experience-data">
            <ExperienceBlock title="SWE Intern - Imriel" startDate="Jan, 2023" endDate="Present" role="Software Engineering Intern" link="https://imriel.com" />
            <ExperienceBlock title="Content Creator - Aviyel" startDate="Oct, 2021" endDate="Jan, 2023" role="Technical Content Creator" link="https://aviyel.com/@murtuzaalisurti" />
            <ExperienceBlock title="Author - CSS Tricks" startDate="July, 2021" endDate="Present" role="Wrote articles related to Web Design and Development!" link="https://css-tricks.com/author/murtuzaalisurti/" />
            <ExperienceBlock title="Technical Writer - Draft" startDate="Sept, 2021" endDate="Jun, 2022" role="Freelance Content Writer" />
        </div>
    </div>
</section>