<section id="projects">
    <div class="projects-box">
        <h2 class="section-name">Projects</h2>
        <div class="project-list">
            <div class="dev-projects-title" aria-label="drop down button" role="button" tabindex="0">
                <p class="text">Development Projects</p>
                <div class="drop"><i class="fas fa-chevron-down"></i></div>
            </div>
            <div class="dev-projects">
                <div class="block">
                    <p class="project-title">Syntackle</p>
                    <p class="project-desc">A blog for developers built using Eleventy static site generator!</p>
                    <a role="link" rel="noreferrer" target="_blank" href="https://syntackle.live">
                        <div class="project-view">View Project</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">Feedback Mangement System</p>
                    <p class="project-desc">A feedback management system made using MERN stack through which you can collect feedbacks and responses!</p>
                    <a role="link" rel="noreferrer" target="_blank" href="https://feedsys.netlify.app/">
                        <div class="project-view">View Project</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">Wavy - A JavaScript Library</p>
                    <p class="project-desc">A JavaScript Library which allows you to animate infinite words in
                        an infinite loop in a modern wavy way!</p>
                    <a role="link" rel="noreferrer" target="_blank"
                        href="https://github.com/murtuzaalisurti/wavy">
                        <div class="project-view">View Project</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">Business Card Generator</p>
                    <p class="project-desc">A responsive business card generator built using React JS!</p>
                    <a role="link" rel="noreferrer" target="_blank"
                        href="https://contact-card.vercel.app/?ref=portfolio">
                        <div class="project-view">View Project</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">Blog Post Retriever</p>
                    <p class="project-desc">Fetch all the latest blog posts from dev.to for a particular user. Built using ejs, express and nodejs!
                    </p>
                    <a role="link" rel="noreferrer" target="_blank"
                        href="https://github.com/murtuzaalisurti/dev-blog-posts">
                        <div class="project-view">View Project</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">Bookmarks to PDF converter</p>
                    <p class="project-desc">Convert the exported bookmark file to PDF format. Built using ejs, express and nodejs!</p>
                    <a role="link" rel="noreferrer" target="_blank"
                        href="https://github.com/murtuzaalisurti/bookmarks">
                        <div class="project-view">View Project</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">QR Code Generator</p>
                    <p class="project-desc">A simple QR Code generator made using JavaScript. Generate as well
                        as download QR Codes real quick!</p>
                    <a role="link" rel="noreferrer" target="_blank"
                        href="https://qr-codes.vercel.app/">
                        <div class="project-view">View Project</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">Typing Animation</p>
                    <p class="project-desc">Recreating a Typing Animation by Kevin Powell using Vanilla
                        JavaScript</p>
                    <a role="link" rel="noreferrer" target="_blank"
                        href="https://css-tricks.com/typewriter-animation-that-handles-anything-you-throw-at-it/">
                        <div class="project-view">View Project</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">Wavy Text Animation</p>
                    <p class="project-desc">A simple, modern and an elegant wavy text animation using Vanilla
                        JavaScript!</p>
                    <a role="link" rel="noreferrer" target="_blank"
                        href="https://codepen.io/seekertruth/pen/ExmGJjE">
                        <div class="project-view">View Project</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">Matrices</p>
                    <p class="project-desc">A matrix calculator to perform different operations on matrices
                    </p>
                    <a role="link" rel="noreferrer" target="_blank"
                        href="https://murtuzaalisurti.github.io/matrices/">
                        <div class="project-view">View Project</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">Brainstormer</p>
                    <p class="project-desc">Throw up your ideas! Built using vanilla JavaScript!</p>
                    <a role="link" rel="noreferrer" target="_blank"
                        href="https://murtuzaalisurti.github.io/brainstormer/">
                        <div class="project-view">View Project</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">Breke Timer</p>
                    <p class="project-desc">A timer which allows you to take breaks.</p>
                    <a role="link" rel="noreferrer" target="_blank"
                        href="https://murtuzaalisurti.github.io/breke_timer/">
                        <div class="project-view">View Project</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">Toggle Animation</p>
                    <p class="project-desc">A dark mode toggle button animation.</p>
                    <a role="link" rel="noreferrer" target="_blank"
                        href="https://github.com/murtuzaalisurti/toggle_animation">
                        <div class="project-view">View Project</div>
                    </a>
                </div>
            </div>
            <div class="blogs-title" aria-label="drop down button" role="button" tabindex="0">
                <p class="text">Blogs</p>
                <div class="drop"><i class="fas fa-chevron-down"></i></div>
            </div>
            <div class="blog-projects">
                <div class="block">
                    <p class="project-title">Syntackle</p>
                    <a role="link" rel="noreferrer" target="_blank" href="https://syntackle.live">
                        <div class="project-view">View Blog</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">CSS Tricks</p>
                    <a role="link" rel="noreferrer" target="_blank"
                        href="https://css-tricks.com/author/murtuzaalisurti/">
                        <div class="project-view">View Blog</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">DEV Community</p>
                    <a role="link" rel="noreferrer" target="_blank" href="https://dev.to/murtuzaalisurti">
                        <div class="project-view">View Blog</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">All Blog Posts</p>
                    <a role="link" rel="noreferrer" target="_blank"
                        href="https://murtuzas-blog-posts.onrender.com/">
                        <div class="project-view">View</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>