---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import About from '../components/sections/About.astro';
import Skills from '../components/sections/Skills.astro';
import Projects from '../components/sections/Projects.astro';
import Experience from '../components/sections/Experience.astro';
import Contact from '../components/sections/Contact.astro';
---

<Layout title="Murtuzaali Surti">
	<main id="main">
		<Hero />
		<About />
		<Skills />
		<Projects />
		<Experience />
		<Contact />
	</main>
</Layout>
