---
import '@fontsource-variable/montserrat';
import '@fontsource-variable/rubik';
import Layout from '../layouts/Layout.astro';
import List from '../components/List';
---

<Layout title="Welcome to Astro.">
	<main>
		<section id="bio">
			<h1>
				Murtuzaali Surti
			</h1>
			<p>Breaking and fixing code, with passion, as a software engineer. Bugs are on my most wanted list, and I write a lot. Wanna <a href="https://syntackle.live/write/">join me</a>?</p>
		</section>
		<section id="projects" class="section">
			<List section='projects' list={[
				{
					id: 1,
					title: "Syntackle",
					desc: "Developer blog",
					url: "https://syntackle.live"
				},
				{
					id: 2,
					title: "Contact Card Generator",
					desc: "A simple contact card generator!",
					url: "https://contact-card.vercel.app"
				}
			]} />
		</section>
		<section id="experience" class="section">
			<List section='experience' list={[
				{
					id: 1,
					title: "Contact Card Generator",
					desc: "A simple contact card generator!",
					url: "https://contact-card.vercel.app"
				}
			]} />
		</section>
	</main>
</Layout>
