---
import '@fontsource-variable/montserrat';
import '@fontsource-variable/rubik';
import Layout from '../layouts/Layout.astro';
import List from '../components/List';
import ExperienceBlock from '../components/ExperienceBlock';
---

<Layout title="Murtuza">
	<main>
		<section id="bio">
			<h1>
				Murtuzaali Surti
			</h1>
			<p>Breaking and fixing code, with passion, as a software engineer. Bugs are on my most wanted list, and I write a lot. Wanna <a href="https://syntackle.live/write/">join me</a>?</p>
		</section>
		<section id="projects" class="section">
			<List client:visible section='projects' list={[
				{
					id: 1,
					title: "Syntackle",
					desc: "Developer blog",
					url: "https://syntackle.live"
				},
				{
					id: 2,
					title: "Contact Card Generator",
					desc: "A simple contact card generator!",
					url: "https://contact-card.vercel.app"
				}
			]} />
		</section>
		<section id="experience" class="section">
			<ExperienceBlock client:visible section="experience" list={[
				{
					id: 1,
					title: "Software Engineer - Imriel",
					role: "Working on an enterprise application related to legal entities. Using Docker, NestJS, PostgreSQL, leaning more towards the backend side.",
					link: "https://contact-card.vercel.app",
					startDate: "May, 2023",
					endDate: "Present"
				},
				{
					id: 2,
					title: "SWE Intern - Imriel",
					role: "React, MUI, Jest as a frontend software engineer!",
					link: "https://contact-card.vercel.app",
					startDate: "May, 2023",
					endDate: "Present"
				}
			]} />
		</section>
	</main>
</Layout>
