<footer>
    <div class="social" aria-label="social media links">
        <a rel="noreferrer" aria-label="LinkedIn profile" target="_blank"
            href="https://www.linkedin.com/in/murtuzaali-surti/"><i class="fab fa-linkedin-in"></i></a>
        <a rel="noreferrer" aria-label="github profile" target="_blank"
            href="https://github.com/murtuzaalisurti"><i class="fab fa-github"></i></a>
        <a rel="noreferrer" aria-label="twitter profile" target="_blank"
            href="https://twitter.com/murtuza_surti"><i class="fab fa-twitter"></i></a>
        <a rel="noreferrer" aria-label="instagram profile" target="_blank"
            href="https://instagram.com/murtuzaali_surti"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="text1" aria-label="contributor">&copy;2022 Made with&nbsp;<i
            class="fas fa-heart"></i>&nbsp;by&nbsp;<a rel="noreferrer" aria-label="github profile"
            href="https://github.com/murtuzaalisurti">Murtuza</a></div>
    <div class="text2" aria-label="powered by">Powered by&nbsp;<a rel="noreferrer"
            aria-label="github profile link" href="https://github.com"><i class="fab fa-github"></i></a> Pages
    </div>
</footer>