<div class="header-contain">
    <header id="header">
        <button id="hamburger-menu" aria-label="menu"><i class="fas fa-bars"></i></button>
        <nav id="navbar" role="navigation" class="none">
            <ul>
                <div role="link" aria-label="about" tabindex="0">
                    <li>About</li>
                </div>
                <div role="link" aria-label="skills" tabindex="0">
                    <li>Skills</li>
                </div>
                <div role="link" aria-label="experience" tabindex="0">
                    <li>Experience</li>
                </div>
                <div role="link" aria-label="projects" tabindex="0">
                    <li>Projects</li>
                </div>
                <div role="link" aria-label="contact" tabindex="0">
                    <li>Contact</li>
                </div>
            </ul>
        </nav>
        <button id="dark-mode-toggle" aria-label="dark mode toggle button">
            <div class="day-night-container">
                <div class="sun sun-logo">
                    <i class="fas fa-sun"></i>
                </div>
                <div class="moon moon-logo">
                    <i class="fas fa-moon"></i>
                </div>
            </div>
        </button>
    </header>
</div>