<div class="header-contain">
    <header id="header">
        <button id="hamburger-menu" aria-label="menu"><i class="fas fa-bars"></i></button>
        <nav id="navbar" role="navigation" class="none">
            <ul>
                <li tabindex="0">About</li>
                <li tabindex="0">Skills</li>
                <li tabindex="0">Experience</li>
                <li tabindex="0">Projects</li>
                <li tabindex="0">Contact</li>
            </ul>
        </nav>
        <button id="dark-mode-toggle" aria-label="dark mode toggle button">
            <div class="day-night-container">
                <div class="sun sun-logo">
                    <i class="fas fa-sun"></i>
                </div>
                <div class="moon moon-logo">
                    <i class="fas fa-moon"></i>
                </div>
            </div>
        </button>
    </header>
</div>